<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.uc.cm.daily_student">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CameraActivity" />
        <activity android:name=".fragments.NoteEdit" />
        <activity android:name=".fragments.NoteBudget" />
        <activity android:name=".activities.DailyStudentActivity" />
        <activity android:name=".activities.BudgetActivity" />
        <activity android:name=".fragments.Wallet" />
        <activity android:name=".activities.StatisticsActivity" />
        <activity android:name=".activities.CreditsActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.GlobalNotes" />
        <activity android:name=".activities.StructureActivity"></activity>
    </application>

</manifest>